<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Basic registration Testing" annotations="JDK" parallel="tests">

    <test name="UI Testing">
        <classes>
            <class name="Methods.BasicRegistrationPageUI"/>
        </classes>
    </test>

    <test name="Registration">
        <classes>
            <class name="Methods.RegistrationPage"/>
        </classes>
    </test>
</suite>